{% extends "base.html" %}

{% block signup %}
<script>
    function validateLogin(){
        let message = document.getElementById("message");
        message.innerHTML = "";
        let valid=true;
        Array.from(document.getElementById("registerForm").getElementsByTagName("input")).map(
            item=>{
                if (item.value==""){
                    message.innerHTML+=`Please fill out the ${item.name} <br>`;
                    item.style.backgroundColor="pink";
                    valid=false;
                }
            })
        if (valid){
            document.getElementById("registerForm").submit();
        }
    }
</script>

<div class="boxlogin">
    <h1>Register</h1>
    <form id="registerForm" action="/register" method="POST" style="align-items: center;">
        <input onchange="this.style.backgroundColor='field';"  type="text" class="input" name="username" id="username" placeholder="Username">
        <input onchange="this.style.backgroundColor='field';" type="password" class="input" name="password" id="password" placeholder="Password">
        <input onchange="this.style.backgroundColor='field';" type="text" class="input" name = "country" placeholder="Country" id="country">

        <!-- <input type="text" name = "username" placeholder="User name" required> -->
        <!-- <input type="password" name = "password" placeholder="Password"> -->
        <!-- <input type="text" name = "country" placeholder="Country"> -->
        <p>Choose a profile image:</p>
        <div class="image-selection">
        <label>
            <input  type="radio" name="profileimg" value="assasin">
            <img  src="/static/images/profileimg/assasin.png" alt="Image 1">
        </label>
        <label>
            <input  type="radio" name="profileimg" value="character">
            <img  src="/static/images/profileimg/character.png" alt="Image 2">
        </label>
        <label>
            <input  type="radio" name="profileimg" value="ghost">
            <img  src="/static/images/profileimg/ghost.png" alt="Image 3">
        </label>
        <label>
            <input  type="radio" name="profileimg" value="ninja">
            <img  src="/static/images/profileimg/ninja.png" alt="Image 4">
        </label>
        <label>
            <input  type="radio" name="profileimg" value="swordsman">
            <img  src="/static/images/profileimg/swordsman.png" alt="Image 5">
        </label>
        <label>
            <input  type="radio" name="profileimg" value="wizard">
            <img  src="/static/images/profileimg/wizard.png" alt="Image 5">
        </label>
        </div>

        <!-- <input type="submit" value="Sign up" class="botton"> -->
    </form>
    <button class="botton" onclick="validateLogin()">Sign Up</button>
    <div id="message" class="message"></div>
    {{message}}
    {{ error }}
</div>

{% endblock %}